body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/assets/restaurantlist.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: #333;
  font-family: Arial, sans-serif;
  background-clip: content-box; /* Avoid background under padding */
  
}

app-navbar{
  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.container-fluid{
  
  overflow: hidden;
  height: 100vh;
}
#exampleModal {
  border-radius: 10px; /* Rounded corners for the modal */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the modal */
}

.modal-title {
  font-size: 1.5rem; /* Increase modal title font size */
  color: #333; /* Text color for the title */
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold; /* Make labels bold */
}

/* Form Field Styles */
.form-control {
  border-radius: 5px;
  
}

.error-message {
  color: #ff6347; 
  font-size: 0.875rem; 
  margin-top: 5px;
}

/* Page and Navbar Styles */
/* .container {
  margin-top: 20px;
} */


.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align cards to the start */
  margin: 0 auto;
  /* //background-color: antiquewhite; */
  max-width: 1200px; /* Set a maximum width for the card deck */
  gap: 1rem; /* Add some gap between cards */
}

.card {
  width: 300px; /* Set a fixed width for the cards */
  margin: 0 0 1rem 0; /* Add some margin between cards */
  border: 1px solid #ccc; /* Add a border for separation */
  border-radius: 10px; /* Add rounded corners */
  background-color: #887b6c;
  margin: 10px; /* Add margin to create some space between cards */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-buttons {
  display: flex;
  justify-content: space-between; /* Ensure buttons are in a row */
  padding: 0.5rem;
  background-color: #54493b;/* Background color for buttons */
  border-radius: 25px;
}

.card-buttons button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  /* background-color: aqua; */
}

.card-buttons button i {
  font-size: 24px;
}

.add-button {
  background-color:rgb(11, 79, 53);
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 2px;
  margin-left: 5px;
  border-radius: 25px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
}

.add-button i {
  font-size: 14px;
}


#filter {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7); /* Make the search input background semi-transparent */
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a semi-transparent border */
}
